In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Create your connection.
data = sqlite3.connect('./db/database_shrunk.sqlite')

In [3]:
df = pd.read_sql_query("SELECT * FROM Player_Attributes", data)
df2 = pd.read_sql_query("SELECT * FROM Player", data)

In [4]:
df.columns

Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

In [5]:
rows = df.shape[0]
df =df.dropna().drop_duplicates(subset='player_fifa_api_id', keep="first")
# df = df.reindex(np.random.permutation(df.index))

In [6]:
df = df[['player_fifa_api_id', 'overall_rating', 'potential', 'preferred_foot', 'crossing', 'finishing', 'dribbling', 'ball_control', 'acceleration', 'agility', 'stamina', 'positioning']]
df.head(10)

,player_fifa_api_id,overall_rating,potential,preferred_foot,crossing,finishing,dribbling,ball_control,acceleration,agility,stamina,positioning
0,218353,67.0,71.0,right,49.0,44.0,51.0,49.0,60.0,59.0,54.0,45.0
1,189615,74.0,76.0,left,80.0,53.0,73.0,71.0,79.0,78.0,79.0,60.0
2,186170,65.0,67.0,right,64.0,58.0,66.0,67.0,77.0,85.0,66.0,64.0
3,140161,69.0,69.0,right,57.0,21.0,56.0,62.0,33.0,62.0,49.0,26.0
4,17725,70.0,70.0,right,46.0,34.0,47.0,58.0,33.0,41.0,60.0,29.0
5,158138,77.0,77.0,left,77.0,72.0,78.0,79.0,75.0,76.0,75.0,77.0
6,221280,61.0,74.0,right,48.0,32.0,54.0,63.0,69.0,60.0,68.0,39.0
7,152747,77.0,77.0,right,78.0,66.0,84.0,81.0,89.0,93.0,75.0,71.0
8,206592,48.0,56.0,right,12.0,15.0,15.0,22.0,15.0,31.0,18.0,14.0
9,188621,69.0,69.0,left,63.0,42.0,70.0,74.0,75.0,69.0,78.0,65.0

In [7]:
df2.columns

Index(['id', 'player_api_id', 'player_name', 'player_fifa_api_id', 'birthday',
       'height', 'weight'],
      dtype='object')

In [8]:
df2 = df2[['player_fifa_api_id', 'player_name', 'birthday', 'height', 'weight']]
df2.head()

   player_fifa_api_id         player_name             birthday  height  weight
0              218353  Aaron Appindangoye  1992-02-29 00:00:00  182.88     187
1              189615     Aaron Cresswell  1989-12-15 00:00:00  170.18     146
2              186170         Aaron Doran  1991-05-13 00:00:00  170.18     163
3              140161       Aaron Galindo  1982-05-08 00:00:00  182.88     198
4               17725        Aaron Hughes  1979-11-08 00:00:00  182.88     154

In [9]:
combined_df = df.merge(df2, on = 'player_fifa_api_id', how = 'inner')
combined_df.head()

,player_fifa_api_id,overall_rating,potential,preferred_foot,crossing,finishing,dribbling,ball_control,acceleration,agility,stamina,positioning,player_name,birthday,height,weight
0,218353,67.0,71.0,right,49.0,44.0,51.0,49.0,60.0,59.0,54.0,45.0,Aaron Appindangoye,1992-02-29 00:00:00,182.88,187
1,189615,74.0,76.0,left,80.0,53.0,73.0,71.0,79.0,78.0,79.0,60.0,Aaron Cresswell,1989-12-15 00:00:00,170.18,146
2,186170,65.0,67.0,right,64.0,58.0,66.0,67.0,77.0,85.0,66.0,64.0,Aaron Doran,1991-05-13 00:00:00,170.18,163
3,140161,69.0,69.0,right,57.0,21.0,56.0,62.0,33.0,62.0,49.0,26.0,Aaron Galindo,1982-05-08 00:00:00,182.88,198
4,17725,70.0,70.0,right,46.0,34.0,47.0,58.0,33.0,41.0,60.0,29.0,Aaron Hughes,1979-11-08 00:00:00,182.88,154

In [10]:
combined_df = combined_df.sample(n=1000)
combined_df = combined_df[['player_fifa_api_id','player_name','birthday', 'height', 'weight','overall_rating', 'potential', 'preferred_foot', 'crossing', 'finishing', 'dribbling', 'ball_control', 'acceleration', 'agility', 'stamina', 'positioning']]
combined_df.head()

,player_fifa_api_id,player_name,birthday,height,weight,overall_rating,potential,preferred_foot,crossing,finishing,dribbling,ball_control,acceleration,agility,stamina,positioning
9393,184615,Stephen McGinn,1988-12-02 00:00:00,180.34,176,62.0,63.0,right,62.0,62.0,62.0,62.0,54.0,72.0,74.0,60.0
246,158087,Alan Tate,1982-09-02 00:00:00,185.42,187,65.0,65.0,right,55.0,35.0,51.0,57.0,33.0,41.0,67.0,34.0
10366,40988,Zdenek Grygera,1980-05-14 00:00:00,185.42,172,70.0,70.0,right,63.0,34.0,50.0,61.0,46.0,52.0,57.0,47.0
7780,142784,Pablo Zabaleta,1985-01-16 00:00:00,177.80,168,82.0,82.0,right,75.0,49.0,73.0,76.0,72.0,71.0,85.0,71.0
1296,209852,Brendon Galloway,1996-03-17 00:00:00,185.42,163,66.0,80.0,left,54.0,30.0,49.0,66.0,81.0,74.0,70.0,34.0

In [11]:
cxn=sqlite3.connect('soccerdb500.sqlite')
combined_df.to_sql(
    name='Player_test',
    con = cxn, 
    index =True )

In [12]:
# combined_df.to_csv('C:/Users/randy/Documents/Repositories/Project-Week-2/db/soccerdatabase.csv', index=False)